body {
    background-color:#36524e;
    width: 750px;
    margin: auto;
    margin-top: 20px;
}

#user-text {
    color: red;
    font-weight: bold;
}

.card  {
    text-align: center !important;
}

.jumbotron {
    color: brown !important;
}
